.Web {
  text-align: center;
}

body {
  background-color: var(--main_bckground_color);
  color: var(--main_txt_color); 
  padding-bottom: 5px;
  margin-bottom: 5px;
  --main_bckground_color: #282c34;
  --main_txt_color: white;
}

.Web-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Web-logo-rotate {
    animation: Web-logo-spin infinite 20s linear;
  }
}

.Web-header {
  display: table;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin + 2em);
  color: white;
  background-color: #02c6d4;
  object-position: center;
  text-align: center;
  text-emphasis: bold;  
}

.Web-link {
  color: #61dafb;
}

@keyframes Web-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

bold {
  text-decoration: bold;
}